*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    height: 100px;
    width: 100%;
    background-color: #F55050;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 10px;
}
.user .img {
    background-color: rgb(56, 55, 55);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#follow {
    all: unset;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #F55050;
    text-align: center;
    color: white;
    cursor: pointer;
}

section {
    margin:  30px 0;
}
.gallerySect {
    display: flex;
    justify-content: center;
    width: 100%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1450px;
}
.sort {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}
.galSort {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1450px;
}
.sortBy {
    position: absolute;
    margin-inline: 5%;
    right: 0;
    bottom: 0;
}
.card {
    position: relative;
    margin: 15px 15px;
    max-width: 250px;
}
.cardContent {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 350px;
    background-color: rgb(196, 195, 195);
    border-radius: 20px;
}

.cardContent .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card .ionic {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 1%;
    right: 1%;
    gap: 20px;
    transform: scale(0);
    cursor: pointer;
}

.card:hover > .ionic {
    transform: scale(1);
}

.card .ionic ion-icon {
    color: #F55050;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(0, 0, 0,.5);
}

.card .tags {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgba(88, 88, 88,.5);
    bottom: 0;
}
footer {
    width: 100%;
    height: 200px;
    background-color: #F55050;
    margin-top: 30px;
}